body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
}

header {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#logo {
    width: 150px;
    height: auto;
    margin-top: 80px;
    animation: float 2s ease-in-out infinite;
}

#logo-text {
    font-size: 1.5rem;
    margin-top: -40px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

nav {
    position: absolute;
    top: 10px;
    right: 20px; 
    left: 530%;
    z-index: 100; 
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    animation: float 2s ease-in-out infinite; 
}

p {
    font-size: 1.2rem;
    max-width: 800px;
    font-weight: lighter;
    line-height: 1.4;
    color: #a6a6a6;               
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1.0);
    margin-bottom: 20px;
    animation: float 2s ease-in-out infinite;
}

.login-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #d9d9d9;
    background-color: #292A6E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    animation: float 2s ease-in-out infinite;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}

.login-btn:hover {
    background-color: #0085C5;
    transform: scale(1.1);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
